.header-bar {
  background-color: black;
  color: white;
}

.spacer {
  height: 40px;
}

img {
  max-width: 200px; 
  height: auto;
}

.warning {
  color: red;
}

.ng-valid[required] {
  border: 2px solid green;
}

.ng-invalid[required] {
  border: 2px solid red;
}